body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.dashboard-wrapper {
    background: rgba(255, 255, 255, 0.153);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 1400px;
    max-height: 1500px;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #72c191;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.footer {
    padding: 10px 20px;
    background-color: #72c191;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.logo {
    width: 100px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.nav-link:hover {
    text-decoration: underline;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content {
    font-size: 14px;
    color: #555;
}

.navbar {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navbar-brand img {
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    padding: 15px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    background-color: #6baa764d;
    color: #fff;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    background-color: #6BAA75;
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-link.active:hover {
    background-color: #6baa762b;
    color: #fff;
    text-decoration: none;
}

.text-muted {
    padding-top: 100px;
}

.table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: #72c191;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-primary {
    background-color: #72c191;
    border-color: #72c191;
}

.btn-primary:hover {
    background-color: #5fa77a;
    border-color: #5fa77a;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #72c191;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-body {
    padding: 20px;
}

#cropForm .form-label {
    font-weight: bold;
}

#cropForm .form-control {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#cropForm .btn-primary {
    background-color: #72c191;
    border-color: #72c191;
}

#cropForm .btn-primary:hover {
    background-color: #5fa77a;
    border-color: #5fa77a;
}

.container.mt-4 {
    margin-top: 2rem !important;
}

h2, h3 {
    color: #333;
    font-weight: bold;
}

.row .card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.row .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row .card-body {
    padding: 15px;
}

.row .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.row .card-text {
    font-size: 14px;
    color: #555;
}

.container.mt-4 {
    margin-top: 2rem !important;
    padding: 50px;
}

.d-flex > nav {
    margin-right: 20px;
}

.content-wrapper {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}